@use "../../constants.scss";
button{
    padding:.4rem 1rem;
    font-weight: bold;
    background-color: constants.$bg-header;
    color:constants.$text-primary-color;
    border-radius: .7rem;
    font-size: 1.05rem;
}