@use 'constants.scss';

*{
  padding:0;
  margin: 0;
}
button{
  outline:none;
  border:none;
  cursor:pointer;
  
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:constants.$bg-primary;
  color:constants.$text-primary-color;
}